<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Crear Proyecto</title>
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body>

	<div class="container">

		<h1>Crear Tarea</h1>

		<form th:action="@{/tareas/save}" method="post">

			<div class="mb-3">
				<label for="formGroupExampleInput" class="form-label">Nombre
					de la tarea</label> <input type="text" class="form-control"
					id="formGroupExampleInput" name="nombre"
					placeholder="Escriba el nombre de la tarea">
			</div>
			<div class="mb-3">
				<label for="formGroupExampleInput2" class="form-label">Descripcion
					de la tarea</label> <input type="text" class="form-control"
					id="formGroupExampleInput2" name="descripcion"
					placeholder="Escriba la descripcion de la tarea">
			</div>

			<button type="submit" class="btn btn-success">Guardar</button>
		</form>


	</div>

</body>
</html>